* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Dosis;
    src: url(./Típografias/Dosis-Light.ttf);
}

@font-face {
    font-family: Dharma;
    src: url(./Típografias/DharmaSlabE-Regular.ttf);
}

p {
    font-family: Dosis;
}

h1 {
    font-family: Dharma;
    color: white;
}

.menu {
    font-size: 15pt;
}

.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    font-family: Dosis;
}

.navbar {
    text-decoration: none;
    color: black;
    margin: 30px
}

.nav-link:hover {
    color: #37A836 !important;
}

.d-flex {
    align-items: center;
}

.logo {
    width: 60px;
}

.row-1 {
    background-color: #686868;
    margin: 0;
}

.relojera {
    width: 250px;
    height: 600px;
    margin: 1rem;
    transition: .3s;
}

.relojera:hover {
    background-color: #fff;
    border-radius: 1rem;
    transform: scale(0.9);
}

.relojero {
    width: 200px;
    height: 600px;
    margin: 1rem;
    transition: .3s;
}

.relojero:hover {
    background-color: #fff;
    border-radius: 1rem;
    transform: scale(0.9);
}

.julian {
    width: 200px;
    height: 600px;
    margin: 1rem;
    transition: .3s;
}

.julian:hover {
    background-color: #fff;
    border-radius: 1rem;
    transform: scale(0.9);
}

h1 {
    font-family: Dharma;
}

.btn-game {
    margin: 2rem auto;
    font-family: Dosis;
    font-size: 30px;
    font-weight: bold;
    background: #37A836;
    width: 220px;
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
    -webkit-transition-duration: 0, 3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-game:hover,
.btn-game:focus .btn-game:active {
    box-shadow: 0 0 20px rgb(0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
}

.pie-pag {
    width: 100%;
    background-color: #b9b9b9;
    color: rgb(19, 19, 19);
}

.box {
    margin: 1rem;
    width: 50%;
    display: flex;
    justify-content: end;
}

.box-2 {
    margin: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.grupo-1 {
    display: flex;
}

.LogoFoot {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.logo-footer {
    width: 50px;
}

.pie-pag .grupo-1 .red-social a:hover {
    color: #37A836;
}

.red-social {
    display: flex;
}

h4 {
    font-family: Dharma;
    margin-left: 45px;
}

.pie-pag .grupo-2 {
    background-color: #686868;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}

.pie-pag .grupo-2 small {
    font-size: 15PX;
}