* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: Dosis;
    src: url(./Típografias/Dosis-Light.ttf);
}

@font-face {
    font-family: Dharma;
    src: url(./Típografias/DharmaSlabE-Regular.ttf);
}

p {
    font-family: Dosis;
}

h1 {
    font-family: Dharma;
}

h3{
    font-family: Dharma;
}

.menu {
    font-size: 15pt;
}

.encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    font-family: Dosis;
}

.navbar {
    text-decoration: none;
    color: black;
    margin: 30px
}

.nav-link:hover {
    color: #f4d347 !important;
}

.d-flex {
    align-items: center !important;
}

.logo {
    width: 60px;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.row-1 {
    background-color: #e4e4e4;
    margin: 0;
}

.img-1 {
    width: 400px;
}

.logo-img {
    width: 200px;
    display: flex;
    justify-content: center;
}

.title-2 {
    color: #D32424;
}

.sub-title-1 {
    color: #f4d347;
    font-family: Dharma;
}

.accordion {
    width: 500px;
}

.parrafo-2 {
    width: 70%;
}

.sub-title-2 {
    color: #37A836;
}

.accordion {
    margin: 1rem;
}

.accordion-body {
    font-family: Dosis;
}

.integrantes {
    background-color: #e4e4e4;
    margin: 1rem 0;
}

.c3 {
    justify-content: center;
}

.title-3 {
    text-align: center;
}

.Mariana {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0.1);
}

.btn-1 {
    background-color: #D32424;
    color: white;
    border-radius: 5px;
    border: none;
    width: 20%;
    height: 40px;
    justify-content: center;
    margin: 1rem;
    font-family: Dosis;
}

.btn-2 {
    background-color: #f4d347;
    color: white;
    border-radius: 5px;
    border: none;
    width: 30%;
    height: 40px;
    justify-content: center;
    margin: 1rem;
    font-family: Dosis;
}

.btn-3 {
    background-color: #37A836;
    color: white;
    border-radius: 5px;
    border: none;
    width: 25%;
    height: 40px;
    justify-content: center;
    margin: 1rem;
    font-family: Dosis;
}


.Emmanuel {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0.1);
}

.Manuela {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0.1);
}

.modal-body {
    font-family: Dosis;
}

.pie-pag {
    width: 100%;
    background-color: #b9b9b9;
    color: rgb(19, 19, 19);
}

.box {
    margin: 1rem;
    width: 50%;
    display: flex;
    justify-content: end;
}

.box-2 {
    margin: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.grupo-1 {
    display: flex;
}

.LogoFoot {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.logo-footer {
    width: 50px;
}

.pie-pag .grupo-1 .red-social a:hover {
    color: #37A836;
}

.red-social {
    display: flex;
}

h4 {
    font-family: Dharma;
    margin-left: 45px;
}

.pie-pag .grupo-2 {
    background-color: #686868;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}

.pie-pag .grupo-2 small {
    font-size: 15PX;
}